In [29]:
import os
import pandas as pd


df_1 = pd.DataFrame.from_csv("Instructions/Resources/hawaii_measurements.csv", index_col=None)
df_2 = pd.DataFrame.from_csv("Instructions/Resources/hawaii_stations.csv", index_col=None)

new1_df = df_1.dropna(how='any')
new2_df = df_2.dropna(how='any')

In [30]:
new1_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [31]:
new1_df.to_csv("clean_1.csv")
new2_df.to_csv("clean_2.csv")