In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

# PyMySQL (not needed if mysqlclient is installed)
import pymysql
pymysql.install_as_MySQLdb()

#from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, func
from sqlalchemy import Column, Integer, String, Float, Date

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

Base = declarative_base()

In [3]:
dialect = 'mysql'
user = 'root'
password = 'Tehreem90'
host = 'localhost'
port = 3306
database = 'Miscellaneous_DB'

engine = create_engine(f'{dialect}://{user}:{password}@{host}:{port}/{database}')

In [4]:
measurements_df = pd.DataFrame.from_csv("clean_1.csv", index_col=None)
station_df = pd.DataFrame.from_csv("clean_2.csv", index_col=None)

In [5]:
# measurements_df.to_sql
# station_df.to_sql
measurements_df['date'] = pd.to_datetime(measurements_df['date'])
measurements_df.head()

   id      station       date  prcp  tobs
0   0  USC00519397 2010-01-01  0.08    65
1   1  USC00519397 2010-01-02  0.00    63
2   2  USC00519397 2010-01-03  0.00    74
3   3  USC00519397 2010-01-04  0.00    76
4   5  USC00519397 2010-01-07  0.06    70

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)

In [7]:
Base = declarative_base()
# Base.prepare(engine, reflect=True)
# Base.classes.keys()

class Measurement(Base):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key= True )
    station = Column(String(50))
    prcp = Column(Float)
    tobs = Column(Integer)
    date = Column(String(50))
    
class Station(Base):
    __tablename__ = "station"
    id = Column(Integer, primary_key = True)
    station = Column(String(50))
    name = Column(String(100))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
Base.metadata.create_all(engine)

In [8]:
session = Session(engine)

In [13]:
measurements_df.to_sql(name='measurements', con=engine, if_exists='replace', index=False)
station_df.to_sql(name='station', con=engine, if_exists='replace', index=False)